.bubble {
  position: relative;
  padding: 12px 20px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 600px;
  margin-right: 25%;
  background-color: #0d1117;
  color: #c9d1d9;
}

.bubble:last-child:before,
.bubble:nth-last-child(1):before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 10px 0;
  border-color: #0d1117 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -14px;
  left: 15px;
}